<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/resources/style/myStyle.css"> <!-- This doesn't currently work -->
<title>PlantPlaces.com</title>
</head>
<body style="background-color:#64d629; color:white;">
<h1 style="text-align:center; text-decoration: underline;">Welcome to PlantPlaces!</h1>
<p style="text-align:center;"> Thanks for checking out our application. We are currently under construction. More will be coming soon so please check back soon!
</body>
</html>